@tailwind base;
@tailwind components;
@tailwind utilities;

.header {
  @apply text-secondary font-bold text-[20px] mb-5;
}

@font-face {
  font-family: "Myan San";
  src: local("Z11-MyanSans-Bold"), url("./assets/Fonts/Z11-MyanSans-Bold") format("truetype");
}

@font-face {
  font-family: "Outfit";
  src: local("mmrtextb"), url("./assets/Fonts/Outfit-Regular.ttf") format("truetype");
}

body {
  background-color: "#C3EAC6";
  font-family: "Outfit";
}

html {
  scroll-behavior: smooth;
}

.label {
  @apply font-bold text-[16px];
}
